[BoxAdminWeb]
hub_gateway_address=127.0.0.1
hub_gateway_port=8088
steer_gateway_address=127.0.0.1
steer_gateway_port=8109
max_packet_length=65535
socket_timeout=5

nation_code=ko

log_level=debug
log_path_file=C:\\Log\\BoxAdminWeb.log


[global]
server.socket_host=0.0.0.0
server.socket_port=8080

[/]
tools.staticdir.root=./BoxAdminWeb
tools.sessions.on=True

tools.sessions.storage_type=file
tools.sessions.storage_path=C:\\Log\\BoxAdminWeb\\sessions

tools.sessions.timeout=86400

[/static/css]
tools.staticdir.on=True
tools.staticdir.dir=static/css

[/static/js]
tools.staticdir.on=True
tools.staticdir.dir=static/scripts

[/static/jsCruise]
tools.staticdir.on=True
tools.staticdir.dir=static/jsCruise

[/static/images]
tools.staticdir.on=True
tools.staticdir.dir=static/images

[/data/export]
tools.staticdir.on=True
tools.staticdir.dir=data/export
